/* Correção de scroll para a página movimentos */
.main-wrapper {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
  width: 100vw !important;
  overflow: visible !important;
}

.main-content {
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 !important;
  overflow: visible !important;
  height: auto !important;
}

.content-wrapper {
  overflow-y: auto !important;
  flex-grow: 1 !important;
  padding: 32px !important;
}

body {
  overflow-y: auto !important;
}